@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    overflow: hidden;
}
h5 span{
    background-color: hsl(230, 29%, 20%);
    color:hsl(207, 33%, 95%);
    padding: 2px 10px;
    border-radius: 50px;
    letter-spacing: 1px;
    margin-right: 20px;
    font-weight: bold ;
}
h5{
    letter-spacing: 7px;
    color: hsl(231, 7%, 65%);
    font-weight: 200;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.bodytext{
    width: 40%;
    float: left;
    display: flex;
    position: absolute;
    top: 0%;
    left: 10%;
    flex-direction: column;
    margin: 17% auto 0;
}
h1{
    font-weight: 900;
    font-size: 40px;
    color:hsl(230, 29%, 20%);
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: uppercase;
}
h3{
    color: hsl(231, 7%, 65%);
   font-weight: 400px;
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 50px;
}
.bodyimg{
    position: absolute;
    top: 6%;
    right: -10%;
    width: calc(100vh - 10px);
    height: 50%;
    margin-bottom: 80px;
    margin-right: 0;
    padding-left: 100px;
    margin: 10% 0 80px 0;
}
.demobtn{
    margin: 20px 20px 0 0;
    padding: 10px 30px;
    background-color: hsl(0, 100%, 68%);
    color: hsl(207, 33%, 95%);
    border-radius: 5px;
    border: none;
    outline:none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.demobtn:hover{
    background-color: hsl(0, 100%, 68%, 0.7);
}
p{
    color: hsl(231, 7%, 65%);
    letter-spacing: 2px;
}

/* media query */
@media screen and (max-width: 918px){
    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
    }
    
    .bodyimg{
        position: relative;
        float: none;
        width: calc(135vw - 20px);
        height: calc(32vh - 10px);
        display: block;
        padding-right: 0;
        padding: 0;
        margin:45px 0 80px 15%;
        z-index: -1;
        
    }
    .bodytext{
        display: block;
        float: none;
        width: 90%;
        margin: 5% auto 0;
        position: relative;
        top: 0;
        left: 0;
    }   
    h1{
        font-weight: 700;
        font-size: 35px;
        line-height: 1.2;
        margin-bottom: 12px;
        
    }
    .demobtn{
        margin: 2px 20px 50px 0;
        padding: 15px;
    }
}
@media screen and (max-width: 420px){
    h5{
        letter-spacing: 3px;
    }
    h1{
        font-size: 31px;
        font-weight: bold;
    }
    .demobtn{
        margin: 2px 15px 30px 0;
        padding: 10px;
        font-size: 11px;
    }
    p{
       font-size: 13px;
        letter-spacing: 0.5px;
    }
}
@media screen and (max-width: 375px){
    .bodyimg{
        float: none;
        width: calc(145vw - 20px);
        height: calc(32vh - 10px);
        padding-right: 0;
        padding: 0;
        margin:25px 0 50px 40%;
        z-index: -1;
        overflow: hidden;
    }
    h5{
        letter-spacing: 1.3px;
        font-size: 13px;
    }
    h5 span{
        margin-right: 8px;
    }
    h1{
        font-size: 24px;
    }
    .demobtn{
        margin: 2px 10px 30px 0;
        padding: 9px;
        font-size: 10px;
    }
    p{
       font-size:10px;
        letter-spacing: 0.4px;
    }
    
}