*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  margin: 20px 10%;
  font-size: 18px;
}
@media (max-width: 668px
){
 body{
  margin: 40px 9%;
 }
}
@media (max-width: 450px
){
 body{
  margin: 50px 3%;
 }
}